.operator-title {
  margin: 30px 0 10px 0;
  padding-left: 12px;
  color: #2db7f5;
  font-size: 20px;
  border-left: 3px solid #2db7f5;
}
.table-tr-gray {
  background: #f3fbff;
}

.table-td-title {
  width: 15%;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}