<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiji.cashloan.system.mapper.SysUserRoleMapper">
	<resultMap id="sysUserRoleResult" type="com.xiji.cashloan.system.domain.SysUserRole">
		<result column="id" property="id" />
		<result column="role_id" property="roleId" />
		<result column="user_id" property="userId" />
	</resultMap>
	
	<insert id="save" parameterType="com.xiji.cashloan.system.domain.SysUserRole">
		<selectKey resultType="long" keyProperty="id">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		insert into arc_sys_user_role(
			role_id,
			user_id				
		)
		values (
			#{roleId},
			#{userId}				
		)
	</insert>
	
	<delete id="deleteByUserId" parameterType="long">
		delete from arc_sys_user_role
		where
		user_id  = #{userId}
 	</delete> 
	
    <select id="getItemListByMap"	parameterType="java.util.HashMap" resultMap="sysUserRoleResult">
		select * 
		from  arc_sys_user_role
		where 1=1
		<if test="roleId != null">
		    AND role_id = #{roleId}
        </if>
        <if test="userId != null">
            AND user_id = #{userId}
        </if>
        <if test="id != null">
            AND id = #{id}
        </if>
	</select>
	
</mapper>