.blk-top{
    display: flex; 
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    width:100%;
}
.blk-top-item{ 
    border-right: 1px solid #eaeaea;
    flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.blk-top-change{
    border-right: 1px solid #eaeaea;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.blk-top-item-last{
    border-right:0;
}
.blk-title{
    color: #999;
}
.blk-top .blk-number{
    color: #666;
    font-size: 29px;
}
.blk-bottom .blk-number{
    color: #666;
    font-size: 32px;
    margin-left: 10px;
}
.workBench-icon{
    display: inline-block;
    width: 17px;
    height: 17px;
    vertical-align: text-bottom;
    margin-right: 12px;
}
.icon1{
    background: url("/dev/images/icon1.png") no-repeat;
}
.icon2{
       background: url("/dev/images/icon2.png") no-repeat;
}
.icon3{
       background: url("/dev/images/icon3.png") no-repeat;
}
.icon4{
       background: url("/dev/images/icon4.png") no-repeat;
}
.blk-bottom{
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    text-align: center;
}
.block-chart{
    background: #fff;
}
.block-chart .blk-top-item{
    height: 680px;
    width: 750px;
}
.border-top{
    border-top: 1px solid #eaeaea;
}
.now-list {
    position: absolute;
    bottom: 29px;
    left: 40px;
    font-size: 10px;
}

.now-list h3 {
    font-size: 15px;
}

.navLine-title {
  height: 16px;
  line-height: 16px;
  margin-bottom: 20px;
  padding: 0 10px;
  border-left: 4px solid  #61abd0;
  font-size: 14px;
  font-weight: normal;
  color: #666;
}

.data-panel{
    display:inline-block;
    width:50%;
}

.data-panel:nth-of-type(1){
    padding-right:7px;
}

.data-panel:nth-of-type(2){
    padding-left:8px;
}

.data-panel .blk-bottom{
    border-top:none;
    padding-top:0;
}

.data-panel .blk-bottom .blk-number{
    font-size:30px;
}
.data-panel .block-panel{
    padding:20px 15px 35px;
}

.blk-number:hover{
    color:#61abd0;
}

.data-panel-left{
    display:inline-block;
    background-color:#ffffff;
    float: left;
    width:40%;
    padding-bottom: 0px;
    height: 170px;
}

.data-panel-right{
    display:inline-block;
    background-color:#ffffff;
    width:59%;
    float: right;
    height: 170px;

}

.data-panel-1{
    float: left;
    width: 30px;
    padding-right: 20px;
    padding-top: 10px;
    padding-left: 5px;
    background-color:#e9e6ef;
    border-right: 4px solid  #bface0;
    height: 150px;
}
.data-panel-2{
    float: right;
    text-align:center;
    width:45%;
    padding:10px 15px 20px 10px;
}

.data-panel-3{
    float: right;
    text-align:center;
    width:45%;
    padding:10px 15px 35px 10px;
}

.data-panel-t1{
    padding:10px 0px 0px 35px;
    border-top: #efefef;
    background: url("/dev/images/icon1.png") no-repeat;
}

.sp-title{
    color: #666;
    font-size: 16px;
    height: 200px;
}
.data-panel-dev{

}
.blk-number-history{
    text-align:center;
    padding-top: 20px;
    font-size:24px;
    height: 25px;
    display:block;
}
.blk-number-history-1{
    text-align:center;
    padding-top: 5px;
    font-size:24px;
    height: 25px;
    display:block;
}
.blk-number-description{
    font-size: 12px;
    letter-spacing:2px;
    color: #4d5669;
}

.data-panel-4{
    float: right;
    text-align:center;
    width:31%;
    padding:10px 15px 20px 10px;
}
.data-panel-5{
    float: left;
    width: 30px;
    padding-right: 20px;
    padding-top: 10px;
    padding-left: 5px;
    background-color:#edf9e3;
    border-right: 4px solid  #f1d294;
    height: 150px;
}
.data-panel-t2{
    padding:10px 0px 0px 35px;
    border-top: #efefef;
    background: url("/dev/images/icon4.png") no-repeat;

}

.overdue-title{
    height: 16px;
    line-height: 16px;
    margin-bottom: 20px;
    padding: 0 10px;
    border-left: 4px solid  #e2b35d;
    font-size: 14px;
    font-weight: normal;
    color: #666;
}

.blk-top-item-overdue{
    border-right: 1px solid #eaff8f;
    flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.dev-total-1{
    height: 70px;
    width:100%;
    display: block;
}
.dev-total-2{
    height: 70px;
    width:100%;
    display: block;
}