<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- cl_magic_req_log表:魔杖2.0请求记录模块 -->
<mapper namespace="com.xiji.cashloan.cl.mapper.MagicReqLogMapper">
    <!--返回Map-->        
    <resultMap id="BaseResultMap" type="com.xiji.cashloan.cl.domain.MagicReqLog">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="trans_id" property="transId" jdbcType="VARCHAR" />
        <result column="borrow_id" property="borrowId" jdbcType="BIGINT" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="resp_code" property="respCode" jdbcType="VARCHAR" />
        <result column="resp_params" property="respParams" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="resp_time" property="respTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        id,trans_id,borrow_id,user_id,create_time,resp_code,resp_params,type,resp_time
    </sql>
    
    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id != null">
                id  = #{id,jdbcType=BIGINT}
            </if>
            <if test="transId != null and transId != ''">
                and trans_id = #{transId,jdbcType=VARCHAR}
            </if>
            <if test="borrowId != null">
                and borrow_id = #{borrowId,jdbcType=BIGINT}
            </if>
            <if test="userId != null">
                and user_id = #{userId,jdbcType=BIGINT}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="respCode != null and respCode != ''">
                and resp_code = #{respCode,jdbcType=VARCHAR}
            </if>
            <if test="respParams != null and respParams != ''">
                and resp_params = #{respParams,jdbcType=VARCHAR}
            </if>
            <if test="type != null">
                and type = #{type,jdbcType=INTEGER}
            </if>
            <if test="respTime != null">
                and resp_time = #{respTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </sql>
    
    
    <insert id="save" parameterType="com.xiji.cashloan.cl.domain.MagicReqLog">
        insert into cl_magic_req_log(trans_id,borrow_id,user_id,create_time,resp_code,resp_params,type,resp_time)values(#{transId,jdbcType=VARCHAR},#{borrowId,jdbcType=BIGINT},#{userId,jdbcType=BIGINT},#{createTime,jdbcType=TIMESTAMP},#{respCode,jdbcType=VARCHAR},#{respParams,jdbcType=VARCHAR},#{type,jdbcType=INTEGER},#{respTime,jdbcType=TIMESTAMP})
    </insert>

    
    <update id="update" parameterType="com.xiji.cashloan.cl.domain.MagicReqLog">
        update cl_magic_req_log set 
            trans_id = #{transId,jdbcType=VARCHAR},
            borrow_id = #{borrowId,jdbcType=BIGINT},
            user_id = #{userId,jdbcType=BIGINT},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            resp_code = #{respCode,jdbcType=VARCHAR},
            resp_params = #{respParams,jdbcType=VARCHAR},
            type = #{type,jdbcType=INTEGER},
            resp_time = #{respTime,jdbcType=TIMESTAMP}
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <update id="updateSelective"  parameterType="java.util.HashMap">
        update cl_magic_req_log
          <set>
            <if test="transId != null and transId != '' ">
                trans_id = #{transId,jdbcType=VARCHAR},
            </if>
            <if test="borrowId != null">        
                borrow_id = #{borrowId,jdbcType=BIGINT},                
            </if>
            <if test="userId != null">        
                user_id = #{userId,jdbcType=BIGINT},                
            </if>
            <if test="createTime != null">        
                create_time = #{createTime,jdbcType=TIMESTAMP},                
            </if>
            <if test="respCode != null and respCode != '' ">
                resp_code = #{respCode,jdbcType=VARCHAR},                
            </if>
            <if test="respParams != null and respParams != '' ">
                resp_params = #{respParams,jdbcType=VARCHAR},                
            </if>
            <if test="type != null">        
                type = #{type,jdbcType=INTEGER},                
            </if>
            <if test="respTime != null">        
                resp_time = #{respTime,jdbcType=TIMESTAMP}                
            </if>
        </set>    
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <select id="findByPrimary" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from cl_magic_req_log
        where id = #{id,jdbcType=INTEGER}
    </select>

	<select id="findSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from cl_magic_req_log
        <include refid="searchBy"/>
    </select>
               
    <select id="listSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from cl_magic_req_log
        <include refid="searchBy"/>
    </select>
    
</mapper>
