<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- cl_magic_suspicious_other_mobile表:魔杖2.0报告-基础信息表模块 -->
<mapper namespace="com.rongdu.cashloan.cl.mapper.MagicSuspiciousOtherMobileMapper">
    <!--返回Map-->        
    <resultMap id="BaseResultMap" type="com.rongdu.cashloan.cl.domain.MagicSuspiciousOtherMobile">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="trans_id" property="transId" jdbcType="VARCHAR" />
        <result column="mobile" property="mobile" jdbcType="VARCHAR" />
        <result column="other_mobile_location" property="otherMobileLocation" jdbcType="VARCHAR" />
        <result column="carrier" property="carrier" jdbcType="VARCHAR" />
        <result column="isblack" property="isblack" jdbcType="INTEGER" />
        <result column="latest_used_time" property="latestUsedTime" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        id,user_id,trans_id,mobile,other_mobile_location,carrier,isblack,latest_used_time,type,create_time 
    </sql>
    
    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id != null">
                id  = #{id,jdbcType=BIGINT}
            </if>
            <if test="userId != null">
                and user_id = #{userId,jdbcType=BIGINT}
            </if>
            <if test="transId != null and transId != ''">
                and trans_id = #{transId,jdbcType=VARCHAR}
            </if>
            <if test="mobile != null and mobile != ''">
                and mobile = #{mobile,jdbcType=VARCHAR}
            </if>
            <if test="otherMobileLocation != null and otherMobileLocation != ''">
                and other_mobile_location = #{otherMobileLocation,jdbcType=VARCHAR}
            </if>
            <if test="carrier != null and carrier != ''">
                and carrier = #{carrier,jdbcType=VARCHAR}
            </if>
            <if test="isblack != null">
                and isblack = #{isblack,jdbcType=INTEGER}
            </if>
            <if test="latestUsedTime != null and latestUsedTime != ''">
                and latest_used_time = #{latestUsedTime,jdbcType=VARCHAR}
            </if>
            <if test="type != null and type != ''">
                and type = #{type,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </sql>
    
    
    <insert id="save" parameterType="com.rongdu.cashloan.cl.domain.MagicSuspiciousOtherMobile">
        insert into cl_magic_suspicious_other_mobile(user_id,trans_id,mobile,other_mobile_location,carrier,isblack,latest_used_time,type,create_time)values(#{userId,jdbcType=BIGINT},#{transId,jdbcType=VARCHAR},#{mobile,jdbcType=VARCHAR},#{otherMobileLocation,jdbcType=VARCHAR},#{carrier,jdbcType=VARCHAR},#{isblack,jdbcType=INTEGER},#{latestUsedTime,jdbcType=VARCHAR},#{type,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP})
    </insert>

    
    <update id="update" parameterType="com.rongdu.cashloan.cl.domain.MagicSuspiciousOtherMobile">
        update cl_magic_suspicious_other_mobile set 
            user_id = #{userId,jdbcType=BIGINT},
            trans_id = #{transId,jdbcType=VARCHAR},
            mobile = #{mobile,jdbcType=VARCHAR},
            other_mobile_location = #{otherMobileLocation,jdbcType=VARCHAR},
            carrier = #{carrier,jdbcType=VARCHAR},
            isblack = #{isblack,jdbcType=INTEGER},
            latest_used_time = #{latestUsedTime,jdbcType=VARCHAR},
            type = #{type,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <update id="updateSelective"  parameterType="java.util.HashMap">
        update cl_magic_suspicious_other_mobile
          <set>
            <if test="userId != null">        
                user_id = #{userId,jdbcType=BIGINT},                
            </if>
            <if test="transId != null and transId != '' ">
                trans_id = #{transId,jdbcType=VARCHAR},                
            </if>
            <if test="mobile != null and mobile != '' ">
                mobile = #{mobile,jdbcType=VARCHAR},                
            </if>
            <if test="otherMobileLocation != null and otherMobileLocation != '' ">
                other_mobile_location = #{otherMobileLocation,jdbcType=VARCHAR},                
            </if>
            <if test="carrier != null and carrier != '' ">
                carrier = #{carrier,jdbcType=VARCHAR},                
            </if>
            <if test="isblack != null">        
                isblack = #{isblack,jdbcType=INTEGER},                
            </if>
            <if test="latestUsedTime != null and latestUsedTime != '' ">
                latest_used_time = #{latestUsedTime,jdbcType=VARCHAR},                
            </if>
            <if test="type != null and type != '' ">
                type = #{type,jdbcType=VARCHAR},                
            </if>
            <if test="createTime != null">        
                create_time = #{createTime,jdbcType=TIMESTAMP}                
            </if>
        </set>    
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <select id="findByPrimary" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from cl_magic_suspicious_other_mobile
        where id = #{id,jdbcType=INTEGER}
    </select>

	<select id="findSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from cl_magic_suspicious_other_mobile
        <include refid="searchBy"/>
    </select>
               
    <select id="listSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from cl_magic_suspicious_other_mobile
        <include refid="searchBy"/>
    </select>

    <insert id="saveBatch" parameterType="java.util.List">
        insert into cl_magic_suspicious_other_mobile (user_id, trans_id, mobile, other_mobile_location, carrier, isblack,
        latest_used_time, type, create_time)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.userId,jdbcType=INTEGER}, #{item.transId,jdbcType=VARCHAR},#{item.mobile,jdbcType=VARCHAR},
            #{item.otherMobileLocation,jdbcType=VARCHAR}, #{item.carrier,jdbcType=VARCHAR}, #{item.isblack,jdbcType=INTEGER},
            #{item.latestUsedTime,jdbcType=VARCHAR}, #{item.type,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>
</mapper>
