<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- cl_magic_req_detail表:魔杖2.0-请求详情模块 -->
<mapper namespace="com.xiji.cashloan.cl.mapper.MagicReqDetailMapper">
    <!--返回Map-->        
    <resultMap id="BaseResultMap" type="com.xiji.cashloan.cl.domain.MagicReqDetail">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="trans_id" property="transId" jdbcType="VARCHAR" />
        <result column="data" property="data" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <!--返回用户的基本信息Map-->
    <resultMap id="CreditLoanUserModelMap"   type="com.xiji.cashloan.cl.model.CreditLoanUserModel">
        <result column="real_name" property="realName" jdbcType="VARCHAR" />
        <result column="id_no" property="idNo" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
    </resultMap>

    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        id,user_id,trans_id,data,type,create_time 
    </sql>
    
    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id != null">
                id  = #{id,jdbcType=BIGINT}
            </if>
            <if test="userId != null">
                and user_id = #{userId,jdbcType=BIGINT}
            </if>
            <if test="transId != null and transId != ''">
                and trans_id = #{transId,jdbcType=VARCHAR}
            </if>
            <if test="data != null and data != ''">
                and data = #{data,jdbcType=VARCHAR}
            </if>
            <if test="type != null">
                and type = #{type,jdbcType=INTEGER}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </sql>
    
    
    <insert id="save" parameterType="com.xiji.cashloan.cl.domain.MagicReqDetail">
        insert into cl_magic_req_detail(user_id,trans_id,data,type,create_time)values(#{userId,jdbcType=BIGINT},#{transId,jdbcType=VARCHAR},#{data,jdbcType=VARCHAR},#{type,jdbcType=INTEGER},#{createTime,jdbcType=TIMESTAMP})
    </insert>

    
    <update id="update" parameterType="com.xiji.cashloan.cl.domain.MagicReqDetail">
        update cl_magic_req_detail set 
            user_id = #{userId,jdbcType=BIGINT},
            trans_id = #{transId,jdbcType=VARCHAR},
            data = #{data,jdbcType=VARCHAR},
            type = #{type,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <update id="updateSelective"  parameterType="java.util.HashMap">
        update cl_magic_req_detail
          <set>
            <if test="userId != null">        
                user_id = #{userId,jdbcType=BIGINT},                
            </if>
            <if test="transId != null and transId != '' ">
                trans_id = #{transId,jdbcType=VARCHAR},                
            </if>
            <if test="data != null and data != '' ">
                data = #{data,jdbcType=VARCHAR},                
            </if>
            <if test="type != null">        
                type = #{type,jdbcType=INTEGER},                
            </if>
            <if test="createTime != null">        
                create_time = #{createTime,jdbcType=TIMESTAMP}                
            </if>
        </set>    
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <select id="findByPrimary" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from cl_magic_req_detail
        where id = #{id,jdbcType=INTEGER}
    </select>

	<select id="findSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from cl_magic_req_detail
        <include refid="searchBy"/>
    </select>
               
    <select id="listSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from cl_magic_req_detail
        <include refid="searchBy"/>
    </select>

    <select id="listModel" resultMap="CreditLoanUserModelMap" parameterType="java.util.HashMap">
        select u.id user_id,u.real_name,u.phone,u.id_no from cl_user_base_info u left join
        cl_magic_req_detail mrd on u.id = mrd.user_id and mrd.id != null where 1=1
        <if test="realName != null and realName != ''">
            and u.real_name like concat("%",#{realName,jdbcType=VARCHAR},"%")
        </if>
        <if test="phone != null and phone != ''">
            and u.phone like concat("%",#{phone,jdbcType=VARCHAR},"%")
        </if>
        <if test="idNo != null and idNo != ''">
            and u.id_no like concat("%",#{idNo,jdbcType=VARCHAR},"%")
        </if>
    </select>

    <select id="getLastRecord" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from cl_magic_req_detail
        where user_id = #{userId,jdbcType=BIGINT} and type = #{type,jdbcType=INTEGER}
        order by create_time desc limit 1
    </select>
</mapper>
